@font-face {
  font-family: "VCROSD";
  src: url("VCROSD.ttf");
}

html {
  text-align: center;
  background-color: black;
}

body {
  font-family: "VCROSD";
  color: white;
  width: 900px;
  margin: 20px auto;
}

.menubuttons {
  margin-left: 30%;
  margin-right: 30%;
  margin-bottom: 5px;
  border: 5px white solid;
  border-radius: 5px;
}

h1 {
  font-weight: normal;
}

.about-title {
  font-variant: small-caps;
}

.abouttop {
  margin-bottom: 5px;
  border: 5px white solid;
  border-radius: 5px;
  padding: 0 50px;
  background-image: url(img/mechanicsbackground.png);
  background-size: 100%;
  background-position: center;
}

.aboutbody {
  margin-bottom: 5px;
  border: 5px white solid;
  border-radius: 5px;
  padding: 0 50px;
  background-image: url(img/realmechanics.png);
  background-size: 275%;
  background-position: center;
}

img {
  border: 5px white solid;
  border-radius: 5px;
}

.aboutsoundtrack {
  margin-bottom: 5px;
  border: 5px white solid;
  border-radius: 5px;
  padding: 0 50px;
  background-image: url(img/infinitehyperdeath.jpg);
  background-size: 100%;
  background-position: center;
}

#movement {
  width: 60%;
}

#stylemeter {
  width: 60%;
}

strong {
  font-weight: normal;
  color: rgb(255, 165, 0);
}

button {
  width: 100px;
  font-weight: lighter;
  font-family: "VCROSD";
  font-size: 20px;
  color: white;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.486);
  border-color: transparent;
  border-radius: 3px;
  transition: all 200ms ease;
}

button:hover {
  cursor: pointer;
  background-color: transparent;
  background-color: rgb(172, 172, 172, 0.486);
}

button:active {
  background-color: red;
  transition: 0s;
}

.tab {
  overflow: hidden;
  border: 5px solid #ccc;
  border-radius: 5px;
  margin-bottom: 5px;
}

.tablinks {
  font-size: 80%;
  text-align: center;
  margin-top: 12px;
  margin-bottom: 12px;
}

.tab button {
  background-color: inherit;
  float: center;
  outline: none;
  cursor: pointer;
}

.tab button:hover {
  cursor: pointer;
  background-color: transparent;
  background-color: rgb(172, 172, 172, 0.486);
}

.tab button.active {
  background-color: red;
}

.tabcontent {
  display: none;
  border: 5px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
}

.weapon {
  width: 20%;
}