@font-face {
  font-family: "VCROSD";
  src: url("VCROSD.ttf");
}

#background-video {
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h2 {
  font-weight: lighter;
  font-size: 30px;
}

body {
  font-family: "VCROSD";
  font-weight: lighter;
  text-align: center;
  color: white;
  background-image: url("img/inspectthis.png");
  background-position: top;
  background-size: 25%;
}

button {
  width: 700px;
  font-weight: lighter;
  font-family: "VCROSD";
  font-size: 40px;
  color: white;
  padding: 35px;
  background-color: rgba(0, 0, 0, 0.486);
  border-color: transparent;
  border-radius: 7px;
  transition: all 200ms ease;
}

button:hover {
  cursor: pointer;
  background-color: transparent;
  background-color: rgb(172, 172, 172, 0.486);
}

button:active {
  background-color: red;
  transition: 0s;
}