@font-face {
  font-family: "VCROSD";
  src: url("VCROSD.ttf");
}

html {
  text-align: center;
  background-color: black;
}

body {
  color: white;
  width: 900px;
  margin: 20px auto;
  font-family: "VCROSD";
}

button {
  width: 100px;
  font-weight: lighter;
  font-family: "VCROSD";
  font-size: 20px;
  color: white;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.486);
  border-color: transparent;
  border-radius: 3px;
  transition: all 200ms ease;
}

button:hover {
  cursor: pointer;
  background-color: transparent;
  background-color: rgb(172, 172, 172, 0.486);
}

button:active {
  background-color: red;
  transition: 0s;
}

.menubuttons {
  margin-left: 30%;
  margin-right: 30%;
  margin-bottom: 5px;
  border: 5px white solid;
  border-radius: 5px;
}

strong {
  font-weight: normal;
  color: rgb(255, 165, 0);
}

h1 {
  font-weight: normal;
}

h2 {
  font-weight: normal;
}

.quizhead {
  margin-bottom: 5px;
  border: 5px white solid;
  border-radius: 5px;
}

.quizbody {
  margin-bottom: 5px;
  border: 5px white solid;
  border-radius: 5px;
  background-image: url(img/scenery7.png);
  background-size: 300%;
  background-position: center;
}

.quizmusic {
  margin-bottom: 5px;
  border: 5px white solid;
  border-radius: 5px;
  background-image: url(img/scenery6.png);
  background-size: 100%;
  background-position: center;
}

.question {
  margin-bottom: 200px;
}

input {
  width: 125px;
}

#checkbutton {
  border: 5px white solid;
  color: rgb(234, 142, 142);
}

#checkbutton:active {
  background-color: inherit;
  transition: 0s;
}